*{
    box-sizing: border-box;
    font-family: "Roboto", Courier, monospace
}

body{
    margin: 0;
}

/*HEADER*/

header {
    color: #F9FAF8;
    background-color: #1F2937;
}

.top-header-container{
    display: flex;
    justify-content: space-around;
}

.logo-container{
    display: flex;
}

.logo-img{
    max-width: 4.5rem;
}

.logo-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.logo {
    font-size: 24px;
}

.top-header-links{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 1.3rem;
}

nav{
    display: flex;
}

.header-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link a{
    color: inherit;
    text-decoration: inherit;
}


.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
    padding: 5rem 10rem;
}

.header-left h1{
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.header-left .header-button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 40px;
    border: none;
    border-radius: 6px;
}

.bottom-header .header-right img{
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    justify-content: flex-end;
}

.top-header-links , .bottom-header .header-left p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-left p{
    margin-top: 0;
}

/*MAIN*/

.random-information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 12rem;
}

.main-cards-container {
    list-style-type: none;
    max-width: 70rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 368px){
    .main-cards-container{
      grid-template-columns: repeat(2, 1fr);
    }
    .main-cards-container .card img{
        max-height:100%; 
        max-width:100%;
        border: #3882F6 solid 3px;
        border-radius: 6px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card p{
        font-size: 18px;
        text-align: center;
    }
}
@media (min-width: 768px){
    .main-cards-container{
      grid-template-columns: repeat(4, 1fr);
    }
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*padding: 2.4rem 16rem ;*/
    padding: 5rem 10rem;
    background-color: #E5E7EB;
}
.quote{
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
}
.strong{
    display: flex;
    flex-direction: row-reverse;
}

.sing-up-container{
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 5rem 10rem;
    padding: 1.5rem 0;
    border-radius: 6px;
}

.left-singup{
    display: flex;
    flex-direction: column;
}

.left-singup h4 {
    margin-bottom: 0;
}

.left-singup p {
    margin-top: 0;
}

.right-signup{
    display: flex;
    align-items: center;
}

.right-signup button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 40px;
    border: #F9FAF8 solid 2px;
    border-radius: 6px;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .copyright-container p{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 25px 0px;
    color: #F9FAF8;
    background-color: #1F2937;
}





