*{
    box-sizing: border-box;
}

/*HEADER*/

.top-header-container{
    display: flex;
    justify-content: space-around
}

.top-header-links{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 1.3rem;
}

.header-link{
    display: flex;
    justify-content: space-between;
}


.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10rem 0px 10rem;
}

/*MAIN*/

.main-cards-container {
    list-style-type: none;
    max-width: 70rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 368px){
    .main-cards-container{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .main-cards-container{
      grid-template-columns: repeat(4, 1fr);
    }
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.4rem 16rem ;
}
.quote{
    
}
.strong{
    display: flex;
    flex-direction: row-reverse;
}