*{
    box-sizing: border-box;
    border: red solid 0.2px
}

/*HEADER*/

.top-header-container{
    display: flex;
    justify-content: space-around
}

.top-header-links{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 1.3rem;
}

.header-link{
    display: flex;
    justify-content: space-between;
}


.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 5rem 10rem;
}

/*MAIN*/

.main-cards-container {
    list-style-type: none;
    max-width: 70rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 368px){
    .main-cards-container{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .main-cards-container{
      grid-template-columns: repeat(4, 1fr);
    }
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*padding: 2.4rem 16rem ;*/
    padding: 5rem 10rem;
}
.quote{
    
}
.strong{
    display: flex;
    flex-direction: row-reverse;
}

.sing-up-container{
    display: flex;
    justify-content: space-around;
}

.left-singup{
    display: flex;
    flex-direction: column;
}

.left-singup h4 {
    margin-bottom: 0;
}

.left-singup p {
    margin-top: 0;
}

.right-signup{
    display: flex;
    align-items: center;
}





